CallBackUrl=http://localhost:5045
ConnectionStrings__eventbus=amqp://guest:QJWtmBP0hc1g9av6P28F4d@localhost:57589
IdentityUrl=http://localhost:5223
LOGGING__CONSOLE__FORMATTERNAME=simple
OTEL_BLRP_SCHEDULE_DELAY=1000
OTEL_BSP_SCHEDULE_DELAY=1000
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:16119
OTEL_EXPORTER_OTLP_HEADERS=x-otlp-api-key=66a6715d27622c926381dd04cb9d350c
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_METRICS_EXEMPLAR_FILTER=trace_based
OTEL_METRIC_EXPORT_INTERVAL=1000
OTEL_RESOURCE_ATTRIBUTES=service.instance.id=xkjebwtm
OTEL_SERVICE_NAME=webapp
OTEL_TRACES_SAMPLER=always_on
services__basket-api__http__0=http://localhost:5221
services__catalog-api__http__0=http://localhost:5222
services__ordering-api__http__0=http://localhost:5224
